<br />
<div class="container">
	<div class="hero-unit">
	  <h1 style="color:pink">Services</h1>
	  <h2 style="color:pink">Hair</h2>
	  <p style="color:pink">style your hair for any special occassion, or just for a weekend night out</p>
	  <h2 style="color:pink">Makeup</h2>
	  <p style="color:pink">give yourself the look for that special date, big wedding day or upcoming party</p>
	</div>
</div>
