<div class="container">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
			<div class="carousel-inner">
			<div class="item active">
				<img src="assets/curly-hair-style-bg.jpg">
				<div class="carousel-caption">
					<h4>Hair Styling<h4>
					<p>Speak to us about styling hair for special occassions</p>
				</div>
			</div>
			<div class="item">
				<img src="assets/indian-makeup-blog.jpg">
				<div class="carousel-caption">
					<h4>Makeup<h4>
					<p>Speak to us about styling makeup for special occassions</p>
				</div>
			</div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
    <div class="row" style="color:#FFBAD2">
        <div class="span4">
            <h2>About Us</h2>
            <p>We are a professional hair and makeup artist company, with years of experience dealing with many customer requirements</p>
            <p><a class="btn" href="profile">Learn More &raquo;</a></p>
       </div>
       <div class="span4">
            <h2>Services</h2>
            <p>From a quick makeover for a night out to getting you ready for your big wedding day, we have numerous services</p>
            <p><a class="btn" href="services">Learn More &raquo;</a></p>
       </div>
       <div class="span4">
            <h2>Gallery</h2>
            <p>Check out the Gallery to see examples of previous work carried out</p>
            <p><a class="btn" href="gallery">Learn More &raquo;</a></p>
       </div>
    </div>


</div>