<div class="container">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
			<div class="carousel-inner">
			<div class="item active">
				<img src="assets/curly-hair-style-bg.jpg">
				<div class="carousel-caption">
					<h4>Hair Styling<h4>
					<p>Speak to us about styling hair for special occassions</p>
				</div>
			</div>
			<div class="item">
				<img src="assets/indian-makeup-blog.jpg">
				<div class="carousel-caption">
					<h4>Makeup<h4>
					<p>Speak to us about styling makeup for special occassions</p>
				</div>
			</div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>