<div class="container">
	<ul class="thumbnails">
		<li class="span4">
			<a href="#" class="thumbnail">
			<img data-src="holder.js/300x200" alt="">
			<h3>Bridal<h3>
			</a>
		</li>

		<li class="span4">
			<a href="#" class="thumbnail">
			<img data-src="holder.js/300x200" alt="">
			<h3>Registry<h3>
			</a>
		</li>

		<li class="span4">
			<a href="#" class="thumbnail">
			<img data-src="holder.js/300x200" alt="">
			<h3>Party & Fashion<h3>
			</a>
		</li>
	</ul>
</div>
