<br />
<div class="container">
	<div class="hero-unit" background-color="#000000">
	  <h1 style="color:pink">Get In Touch</h1>
	  <p style="color:pink">At Divine we can cater for any specific requirements you may have</p>
	  <h2 style="color:pink">Contact</h2>
	  <p style="color:pink">Tel: 07411645743</p>
	  <p style="color:pink">Email: <a href="mailto:divinehairandmakeup@gmail.com">divinehairandmakeup@gmail.com</a></p>
	</div>
</div>