<br />
<div class="container">
	<div class="hero-unit">
	  <h1>Get In Touch</h1>
	  <p>At Divine we can cater for any specific requirement</p>
	  <h2 style="color:black">Contact</h2>
	  <p style="color:black">Tel: 07411645743</p>
	  <p style="color:black">Email: <a href="mailto:divinehairandmakeup@gmail.com">divinehairandmakeup@gmail.com</a></p>
	</div>
</div>