// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.home {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;

}

.home p{
	margin: 4px 0;
}

.home .admin{
	display: none;
}

.home.hover .admin{
	display: inline;
}

.home.hover {
	background: #800080;
}

.home a{
	foreground: #F4C2C2;
}


.navbar-inner container {
  background-color: #800080;

}
