<br />
<div class="container">
	<div class="hero-unit">
	  <h1 style="color:pink">About Divine</h1>
	  <p style="color:pink">Professional hair and make up artist. With a number of years experience</p>
	</div>
</div>
